# Reboot - SQL Advanced

Tonight, we will use the Blog SQLite database:

In [1]:
!tree

.
‚îú‚îÄ‚îÄ data
‚îÇ¬†¬† ‚îî‚îÄ‚îÄ blog.sqlite
‚îú‚îÄ‚îÄ README.md
‚îî‚îÄ‚îÄ recap.ipynb

1 directory, 3 files

## 1. Schema ERD

‚ùì Open the `data/blog.sqlite` in DBeaver, explore the schema and draw it on [kitt.lewagon.com/db](https://kitt.lewagon.com/db).

_TODO: Double click this cell and **paste** a screenshot of the schema for future reference_.

---
## 2. Most liked posts

Complete the code to get **the 3 most liked posts**:

In [2]:
import sqlite3

conn = sqlite3.connect("data/blog.sqlite")
c = conn.cursor()

# TODO: write the query
query = """
    SELECT
        posts.id,
        COUNT(*) like_count
    FROM posts
    JOIN likes ON posts.id = likes.post_id
    GROUP BY posts.id
    ORDER BY like_count DESC
    LIMIT 3
"""

# TODO: Execute the query
c.execute(query)
# TODO: Fetch and print the results
c.fetchall()

[(143, 84), (83, 82), (99, 81)]

---

### Pretty Print using _pandas_

The readbility of our `print()` statements is not so good.

Next week, we will introduce [pandas](https://pandas.pydata.org/) which will vastly improve the UX of our data exploration in Notebooks.

Execute the following cell to initialize the `execute_and_print` function:

In [3]:
import pandas as pd

Then try the previous `query` again, delegating the job of fetching results + displaying them to the `execute_and_print` function and `pandas`:

In [4]:
pd.read_sql_query(query, conn)

    id  like_count
0  143          84
1   83          82
2   99          81

---
## 3. Find the three users who 'liked' the most

In [5]:
query = """
    SELECT
        users.id,
        COUNT(*) like_count
    FROM users
    JOIN likes ON users.id = likes.user_id
    GROUP BY users.id 
    ORDER BY like_count DESC
    LIMIT 3
"""
pd.read_sql_query(query, conn)

   id  like_count
0  43         236
1  12         233
2  44         227

---
## 4. Find the most liked author

In [6]:
query = """
    SELECT
        users.id,
        users.first_name || " " || users.last_name full_name,
        COUNT(*) like_count
    FROM users
    JOIN posts ON users.id = posts.user_id 
    JOIN likes ON posts.id = likes.post_id
    GROUP BY users.id 
    ORDER BY like_count DESC 
    LIMIT 1
"""
pd.read_sql_query(query, conn)

   id     full_name  like_count
0  57  Teresa Moore         647

---
## 5. Who are the authors of the 3 most liked posts?

In [7]:
query = """
    SELECT
        users.first_name || " " || users.last_name full_name,
        COUNT(*) like_count
    FROM posts
    JOIN likes ON posts.id = likes.post_id
    JOIN users ON posts.user_id = users.id
    GROUP BY posts.id 
    ORDER BY like_count DESC
    LIMIT 3
"""
pd.read_sql_query(query, conn)

         full_name  like_count
0    Melissa Henry          84
1  Cynthia Raymond          82
2   Alexander Cook          81

---
## 6. How many people liked at least one post?

In [ ]:
pd.read_sql_query("""
TODO: Write the SQL query
""", conn)

---
## 7. Compute the cumulative number of likes per day

In [8]:
query = """
    SELECT COUNT(DISTINCT users.id) liker_count
    FROM users
    JOIN likes ON users.id = likes.user_id
"""
pd.read_sql_query(query, conn)

   liker_count
0           49

---
## 8. (Optional) Who's the biggest fan of each author?

The biggest fan of an author is defined as the user who liked the most the author's posts.
<br><br>
<details>
    <summary>üí° Click for Hint</summary>
    You might need to use <code>WITH</code>
</details>

In [ ]:
pd.read_sql_query("""
TODO: Write the SQL query
""", conn)