# Learning Curves

üëá Run the code below.

In [341]:
import pandas as pd
data = pd.read_csv('data_small.csv')
data.head()

,age,children,bmi,sex_female,sex_male,smoker,region_northeast,region_northwest,region_southeast,region_southwest,charges
0,28,1,37.620,1,0,0,0,0,1,0,3766.88380
1,28,1,24.320,1,0,0,1,0,0,0,23288.92840
2,35,1,34.800,1,0,0,0,0,0,1,5246.04700
3,51,3,36.385,1,0,0,0,1,0,0,11436.73815
4,20,0,30.590,1,0,0,1,0,0,0,2459.72010

Each observation is the profile of a health insurance client. `charges` is the ammount the client pays for the insurance. Some of the features have been preprocessed.

The task is to estimate the price a client will be charged for his insurance based on his profile.

## 1. Data Exploration

üëá How many observations make up the dataset?

In [ ]:
# YOUR CODE HERE

üëá What is the average price a client pays for insurance?

In [ ]:
# YOUR CODE HERE

üëá What is the average price a smoker pays for insurance?

In [1]:
# YOUR CODE HERE

üëá What is the average price a non-smoker pays for insurance?

In [2]:
# YOUR CODE HERE

## 2. Initial Learning Curves

üëá Plot the `learning_curve`s of a `LinearRegression` model trained on the pre-scaled features. Specify the following parameters:
- Train sizes : [25, 50, 75, 100]
- 10-fold Cross validation
- R2 scoring

[`learning_curve` documentation](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.learning_curve.html)

In [3]:
# Prepare the data, exluding out of scale features

# Get train scores, train sizes, and validation scores using `learning_curve`, r2 score

# Take the mean of cross-validated train scores and validation scores

# Plot the learning curves!

üëá What is the best cross-validated R2 score reached by the model?

In [4]:
# YOUR CODE HERE

‚ùì What effects would adding more data have on this model?

<details>
<summary>Answer</summary>
    
The curves have not yet converged, which signals that adding more data should improve its performance.
</details>

## 3. More data!

üëá Run the code below to load the full version of the dataset

In [348]:
more_data = pd.read_csv('data.csv')

more_data.head()

,age,children,bmi,sex_female,sex_male,smoker,region_northeast,region_northwest,region_southeast,region_southwest,charges
0,19,0,27.900,1,0,1,0,0,0,1,16884.92400
1,18,1,33.770,0,1,0,0,0,1,0,1725.55230
2,28,3,33.000,0,1,0,0,0,1,0,4449.46200
3,33,0,22.705,0,1,0,0,1,0,0,21984.47061
4,32,0,28.880,0,1,0,0,1,0,0,3866.85520

üëá How many observations are there?

In [5]:
# YOUR CODE HERE

üëá Plot the Learning curves of a Linear Regression model trained on the pre-scaled features. Specify the following parameters:
- Train sizes : [50, 100, 200, 300, 500]
- 10-fold Cross validation
- R2 scoring

In [6]:
# Prepare the data, exluding out of scale features

# Get train scores, train sizes, and validation scores using `learning_curve`, r2 score

# Take the mean of cross-validated train scores and validation scores

# Plot the learning curves!

üëá What is the best cross-validated R2 score reached by the model?

In [7]:
# YOUR CODE HERE

‚ùì What effects would adding more data have on this model?

<details>
<summary>Answer</summary>
    
None! The curves have converged, which signals that adding more data will not improve performance.
</details>

‚ùì What could you do to improve the performance of the model?

<details>
<summary>Answer</summary>
    
The converged curves indicate that the model has reach its full potential with the current features. However, adding new features might improve its performance.
</details>

## 4. More features!

üëá Working with the larger dataset, scale the `bmi` and `age` features. Fit and transform separately to make transformer reusable. Add the scaled features to the dataframe.

In [8]:
# YOUR CODE HERE

üëá Plot the Learning curves of a Linear Regression model trained on all features. Specify the following parameters:
- Train sizes : [100, 200, 300, 400, 500]
- 10-fold Cross validation
- R2 scoring

In [9]:
# Prepare the features

# Get train scores, train sizes, and validation scores using `learning_curve`, r2 score

# Take the mean of cross-validated train scores and validation scores

# Plot the learning curves!

üëá What is the best cross-validated R2 score reached by the model?

In [10]:
# YOUR CODE HERE

Adding features should have greatly improved the performance of the model!

‚ùì Is the model at risk of overfitting?

<details>
<summary>Answer</summary>
    
No! Overfitting is indicated when the training score is suspiciously high, and the gap with the test score significant.
    
</details>

## 5. Prediction

A potential client wants to get a quote on how much she would get charged.

In [356]:
potential_client = pd.read_csv('new_data.csv')

potential_client

,age,children,bmi,sex_female,sex_male,smoker,region_northeast,region_northwest,region_southeast,region_southwest,charges
0,40,0,36.19,1,0,0,0,0,1,0,NaN

üëá Use your model to give her a price estimate. Make sure you scale the new data with the original scaler.

In [11]:
# Scale age and bmi with original scaler

# Train model

# Predict charges for potential client

‚ö†Ô∏è Don't forget to push your exercice once you have completed it üôÉ

# üèÅ