# Recap

In [1]:
import pandas as pd

df = pd.read_csv('data.csv')

df.head()

   age     sex     bmi  children  smoker     region      charges
0   19  female  27.900         0    True  southwest  16884.92400
1   18    male  33.770         1   False  southeast   1725.55230
2   28    male  33.000         3   False  southeast   4449.46200
3   33    male  22.705         0   False  northwest  21984.47061
4   32    male  28.880         0   False  northwest   3866.85520

## Finding nearest neighbors

‚ùìI am 28 years old, I have a bmi of 30, and I don't smoke. Which person in the dataset is most like me, and how much does she pay? 

Check out the [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsRegressor.html#sklearn.neighbors.KNeighborsRegressor.kneighbors)

‚ùìWhich person is least like me?

## Base KNN

üëá Train and score a base KNN model with `age`,`bmi`, and `smoker` to predict `charges`.

## Scaling

üëá Machine Learning algorithms are sensitive to the scale of features. Go to [this link](https://www.codecademy.com/articles/normalization#:~:text=Min%2Dmax%20normalization%20is%20one,decimal%20between%200%20and%201.), read up to the part on Min-Max Normalization, and transform `X` according to the formula.

## KNN Scaled features

üëá Train and score a KNN model with the features you just scaled.

# Predicting new data

üëá Using the model trained on scaled features, predict the charges I would pay if I were 28 years old, a bmi of 30, and non-smoker.

# üèÅ