# KNN Recommender

üëâ K-Nearest-Neighbors can be used to model and make predictions, but they can also be derived to find the closest points in a dataset. In this recap, we'll use a KNN to make a basic music recommender system.

In [2]:
import pandas as pd

df = pd.read_csv('data/spotify_data.csv')

df.head()

,name,artists,popularity,danceability,valence,energy,explicit,key,liveness,loudness,speechiness,tempo
0,We're For The Dark - Remastered 2010,['Badfinger'],22,0.678,0.559,0.432,0,3,0.0727,-12.696,0.0334,117.674
1,Sixty Years On - Piano Demo,['Elton John'],25,0.456,0.259,0.368,0,6,0.1560,-10.692,0.0280,143.783
2,Got to Find Another Way,['The Guess Who'],21,0.433,0.833,0.724,0,0,0.1700,-9.803,0.0378,84.341
3,Feelin' Alright - Live At The Fillmore East/1970,['Joe Cocker'],22,0.436,0.870,0.914,0,5,0.8550,-6.955,0.0610,174.005
4,Caravan - Take 7,['Van Morrison'],23,0.669,0.564,0.412,0,7,0.4010,-13.095,0.0679,78.716

üéØ Let's find songs similar to Queen's mythical Another one bites the dust.

In [3]:
queen_song = df.iloc[4295:4296] # Another one bites the dust - Queen

queen_song

,name,artists,popularity,danceability,valence,energy,explicit,key,liveness,loudness,speechiness,tempo
4295,Another One Bites The Dust - Live at Wembley '86,['Queen'],29,0.534,0.114,0.984,0,4,0.982,-5.058,0.297,115.991

# Calculating the distances

üëá First, train the KNN to have it learn the distances between each observation of the dataset. Since we are only concerned by the similarity of features between the songs, it doesn't matter which target it is fitted to.

In [ ]:
## YOUR CODE HERE

Check out the [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsRegressor.html#sklearn.neighbors.KNeighborsRegressor.kneighbors)

# Passing the new point

üëá You can now pass a new point to the KNN model and find it's closest point.

In [ ]:
## YOUR CODE HERE

# Making a playlist!

üëá Make a 10 song long playlist based on Queen's "Another one bites the dust" with increasing tempo

In [5]:
queen_song

,name,artists,popularity,danceability,valence,energy,explicit,key,liveness,loudness,speechiness,tempo
4295,Another One Bites The Dust - Live at Wembley '86,['Queen'],29,0.534,0.114,0.984,0,4,0.982,-5.058,0.297,115.991

In [ ]:
## YOUR CODE HERE

# üèÅ